<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>Nom</key>
			<string>Besson</string>
			<key>Photos</key>
			<array>
				<string>IMG_0992_face0.jpg</string>
				<string>DSC01133_face1.jpg</string>
				<string>iphone-icon.png</string>
				<string>AnnivPapa.jpg</string>
			</array>
			<key>Prenom</key>
			<string>Catherine</string>
			<key>Surnom</key>
			<string>Biche</string>
			<key>Message</key>
			<string>Coucou mon Jacques</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>AnnivPapa.jpg</string>
				<string>IMG_0992_face0.jpg</string>
				<string>DSC01133_face1.jpg</string>
				<string>iphone-icon.png</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Pierre</string>
			<key>Surnom</key>
			<string>Pierrot</string>
			<key>Message</key>
			<string>Coucou Papa! C&apos;est Pierre!</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>iphone-icon.png</string>
				<string>IMG_0992_face0.jpg</string>
				<string>DSC01133_face1.jpg</string>
				<string>AnnivPapa.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Marion</string>
			<key>Surnom</key>
			<string>Minette</string>
			<key>Message</key>
			<string>Coucou Papa c&apos;est Marion!</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>DSC01133_face1.jpg</string>
				<string>IMG_0992_face0.jpg</string>
				<string>iphone-icon.png</string>
				<string>AnnivPapa.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Louis</string>
			<key>Surnom</key>
			<string>Luigi</string>
			<key>Message</key>
			<string>Coucou Papa c&apos;est Louis!</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>IMG_0992_face0.jpg</string>
				<string>iphone-icon.png</string>
				<string>DSC01133_face1.jpg</string>
				<string>AnnivPapa.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Jules</string>
			<key>Surnom</key>
			<string>Julius</string>
			<key>Message</key>
			<string>Coucou Papa c&apos;est Jules!</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>IMG_0992_face0.jpg</string>
				<string>iphone-icon.png</string>
				<string>AnnivPapa.jpg</string>
				<string>DSC01133_face1.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Collyne</string>
			<key>Surnom</key>
			<string>Collynette</string>
			<key>Message</key>
			<string>Coucou grand père c&apos;est Collyne!</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>iphone-icon.png</string>
				<string>DSC01133_face1.jpg</string>
				<string>IMG_0992_face0.jpg</string>
				<string>AnnivPapa.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson (Bientôt)</string>
			<key>Prenom</key>
			<string>Halimatou</string>
			<key>Surnom</key>
			<string>Hali</string>
			<key>Message</key>
			<string>Coucou Jacques, Cest Hali!</string>
		</dict>
	</array>
</dict>
</plist>
