<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>Nom</key>
			<string>Besson</string>
			<key>Photos</key>
			<array>
				<string>Scan 112810037.jpg</string>
				<string>Scan 112810042.jpg</string>
				<string>Scan 112810049.jpg</string>
				<string>P1000252.JPG</string>
				<string>IMG_0030.jpg</string>
				<string>IMG_0650.jpg</string>
				<string>Scan 112810048.jpg</string>
				<string>Scan 112810014.jpg</string>
				<string>Scan 112810043.jpg</string>
				<string>Scan 112810036.jpg</string>
				<string>Scan 112810035.jpg</string>
				<string>Scan 112810001.jpg</string>
				<string>IMGP3910.JPG</string>
				<string>Scan 112810030.jpg</string>
				<string>IMGP3855.JPG</string>
				<string>IMGP3668.JPG</string>
				<string>IMGP3656.JPG</string>
				<string>IMGP3604.JPG</string>
			</array>
			<key>Prenom</key>
			<string>Catherine</string>
			<key>Surnom</key>
			<string>Biche</string>
			<key>Message</key>
			<string>Je t&apos;aime tout le temps et à 50 ans spécialement. Ta Biche</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>DSC01041.jpg</string>
				<string>Scan 112810013.jpg</string>
				<string>Scan 112810046.jpg</string>
				<string>Scan 11281005100.jpg</string>
				<string>Scan 112810005.jpg</string>
				<string>DSC01206.JPG</string>
				<string>DSC01085.jpg</string>
				<string>Scan 112810002.jpg</string>
				<string>DSCF1641.JPG</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Pierre</string>
			<key>Surnom</key>
			<string>Pierrot</string>
			<key>Message</key>
			<string>Joyeux cinquantième anniversaire petit Papa. Je suis content d&apos;être là pour te le souhaiter. Merci pour tout ce que tu as fait pour moi (nous) durant toutes ces années. J&apos;espère pouvoir en faire autant pour toi. Merci d&apos;être un modèle et pour tout l&apos;amour que tu m&apos;as donné. Joyeux anniversaire papa. Pierre</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>Scan 112810029.jpg</string>
				<string>Scan 112810000.jpg</string>
				<string>DSC00401.jpg</string>
				<string>IMG_0823.jpg</string>
				<string>DSC01279.JPG</string>
				<string>DSC01129.JPG</string>
				<string>IMGP3792.JPG</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Marion</string>
			<key>Surnom</key>
			<string>Minette</string>
			<key>Message</key>
			<string>Joyeux anniversaire mon petit papa! Jespère que les 50 prochaines années seront aussi bien remplies que les premières!
Merci d&apos;être là, d&apos;être toi, de me (sup)porter à chaque étape de ma vie...
Minetas</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>IMGP3788.JPG</string>
				<string>IMG_0021.jpg</string>
				<string>IMGP2242.JPG</string>
				<string>IMG_1067.JPG</string>
				<string>IMGP3633.JPG</string>
				<string>IMGP3621.JPG</string>
				<string>DSC00784.jpg</string>
				<string>IMG_0192.JPG</string>
				<string>IMG_0180.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Louis</string>
			<key>Surnom</key>
			<string>Luigi</string>
			<key>Message</key>
			<string>Papa après les 20 années passées avec toi, je prends du recul pour regarder quelques photos de nous. Chacun de ces instants témoigne de la richesse et de la générosité de ton être, tu as su à tout moment nous porter à la force de ton amour, nous montrer la marche à suivre et nous épauler. Alors pour tes 50 ans je voudrais te dire merci, je suis fier d être ton fils. Merci papa je t aime!
Luigi</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>Scan 112810021.jpg</string>
				<string>SNB12775.JPG</string>
				<string>P1000271.JPG</string>
				<string>Scan 112810034.jpg</string>
				<string>DSC01133.jpg</string>
				<string>Scan 112810047.jpg</string>
				<string>DSC01139.JPG</string>
				<string>Scan 112810019.jpg</string>
				<string>Scan 112810044.jpg</string>
				<string>IMGP3877.JPG</string>
				<string>IMGP3769.JPG</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Jules</string>
			<key>Surnom</key>
			<string>Julius</string>
			<key>Message</key>
			<string> Bon anniversaire pachouky! Jules</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>IMGP2216.JPG</string>
				<string>IMG_0649.jpg</string>
				<string>SNB14197.JPG</string>
				<string>DSC01488.JPG</string>
				<string>P1000547.jpg</string>
				<string>DSC01368.jpg</string>
				<string>SNB12722.jpeg</string>
				<string>SNB12728.JPG</string>
				<string>DSC01481.jpg</string>
				<string>DSC01124.jpg</string>
				<string>DSC01562.jpg</string>
				<string>IMG_1075.jpg</string>
				<string>SNB13090.JPG</string>
				<string>SNB12201.jpeg</string>
				<string>IMG_0065.jpg</string>
				<string>SNB12725.jpeg</string>
				<string>SNB12723.jpeg</string>
				<string>IMG_0032.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Collyne</string>
			<key>Surnom</key>
			<string>Collynette</string>
			<key>Message</key>
			<string>Joyeux 50 ans mon petit Grand Père. Je suis contente d&apos;être là pour te souhaiter ton anniversaire. Je pense que je peux te chanter une chanson pour l&apos;occasion. Je suis fière de t&apos;avoir pour grand-père. Et j&apos;espère faire plein de chantiers avec toi.</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>DSC01514.JPG</string>
				<string>DSC00388.jpg</string>
				<string>DSC01135.JPG</string>
				<string>DSC01570.JPG</string>
			</array>
			<key>Nom</key>
			<string>Besson (Bientôt)</string>
			<key>Prenom</key>
			<string>Halimatou</string>
			<key>Surnom</key>
			<string>Hali</string>
			<key>Message</key>
			<string>Joyeux anniversaire Jacques! Cinquante ans et toujours dans le coup! Quelle classe! Merci d&apos;avoir fait de Pierre ce qu&apos;il est aujourd&apos;hui et pour toutes les valeurs que tu (vous.. toi aussi Catherine, mais tu n&apos;as pas encore cinquante ans...) lui as transmises. C&apos;est celles-ci qui nous rendent si heureux aujourd&apos;hui.</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>IMG_0153.jpg</string>
				<string>IMGP2267.JPG</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Bonnie</string>
			<key>Surnom</key>
			<string>Bonnie</string>
			<key>Message</key>
			<string>Joyouf anniversouf papouf! </string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>Scan 112810012.jpg</string>
				<string>Scan 112810010.jpg</string>
				<string>Scan 112810009.jpg</string>
				<string>Scan 112810007.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Papy Jean Marc</string>
			<key>Surnom</key>
			<string>Papy</string>
			<key>Message</key>
			<string>Je suis sur qu&apos;il aurait aimé te souhaiter un joyeux anniversaire.</string>
		</dict>
		<dict>
			<key>Photos</key>
			<array>
				<string>Scan 112810031.jpg</string>
				<string>IMGP2349.JPG</string>
				<string>Scan 112810028.jpg</string>
				<string>Scan 112810027.jpg</string>
				<string>Scan 112810039.jpg</string>
				<string>DSC01195.jpg</string>
				<string>Scan 112810024.jpg</string>
				<string>Scan 112810033.jpg</string>
				<string>Scan 112810032.jpg</string>
				<string>Scan 112810023.jpg</string>
				<string>Scan 112810038.jpg</string>
				<string>Scan 112810020.jpg</string>
				<string>Scan 112810041.jpg</string>
				<string>Scan 112810018.jpg</string>
				<string>Scan 112810040.jpg</string>
				<string>Scan 112810008.jpg</string>
				<string>Scan 112810006.jpg</string>
				<string>Scan 112810004.jpg</string>
				<string>Scan 112810003.jpg</string>
				<string>IMGP3825.JPG</string>
				<string>IMGP3618.JPG</string>
				<string>Scan 112810022.jpg</string>
				<string>IMGP3590.JPG</string>
				<string>IMGP2198.JPG</string>
				<string>IMG_0218.jpg</string>
			</array>
			<key>Nom</key>
			<string>Besson</string>
			<key>Prenom</key>
			<string>Besson</string>
			<key>Surnom</key>
			<string>Besson</string>
			<key>Message</key>
			<string>Voici des photos regroupant beaucoup de monde.</string>
		</dict>
	</array>
</dict>
</plist>
